* {
  font-family: montserrat;
}

table {
  border-collapse: collapse;
  border: 2px solid white;
  margin: 20px auto;
  background-color: #6b1e59;
  color: white;
  width: 100%;
  height: 70px;
  font-size: large;
}

td,
th {
  border: 1px solid white;
  padding: 20px;
  text-align: left;
}

.Billgates {
  background-color: #e36bc7;
  color: white;
  font-weight: 600;
  column-width: 50px;
}

.Elonmusk {
  background-color: #e36bc7;
  color: white;
  font-weight: 600;
}
.Stevejobs {
  background-color: #852d70;
  color: white;
  font-weight: 600;
}
.markzuck {
  background-color: #852d70;
  color: white;
  font-weight: 600;
}
